sudo: required

language: java

services:
  - docker

before_install:
  - cd docker/dev
  - docker-compose up -d
  - cd ../..

script:
  - mvn cobertura:cobertura

after_script:
  - cd docker/dev
  - docker-compose stop
  - docker-compose rm -v -f

