language: java

jdk:
  - openjdk8

sudo: required

services:
  - docker

before_install:
  - cd docker/dev
  - docker-compose up -d

before_script:
  - cd ../../

script:
  - mvn test -Ptest-consumer,test-business

after_success:
  - mvn --file pom.xml cobertura:cobertura -P test-consumer,test-business
  - bash <(curl -s https://codecov.io/bash)


after_script:
  - cd docker/dev
  - docker-compose stop
  - docker-compose rm -v -f