sudo: required

language: java

jdk:
  - oraclejdk9

services:
  - docker

before_install:
  - cd docker/dev
  - docker-compose up -d
  - cd ../..

script:
  - mvn clean install
  - mvn cobertura:cobertura

after_success:
  - bash <(curl -s https://codecov.io/bash)

after_script:
  - cd docker/dev
  - docker-compose stop
  - docker-compose rm -v -f

